*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    /*===Primary colors===*/
    --color-red: hsl(0, 78%, 62%);
    --color-Cyan: hsl(180, 62%, 55%);
    --color-Orange: hsl(34, 97%, 64%);
    --color-Blue: hsl(212, 86%, 64%);

    /*===Neutral colors===*/
    --color-Very-Dark-Blue: hsl(234, 12%, 34%);
    --color-Grayish-Blue: hsl(229, 6%, 66%);
    --color-Very-Light-Gray: hsl(0, 0%, 98%);

    font-size: 62.5%;
}

body{
    background-color: var(--color-Very-Light-Gray);
    font-size: 1rem;
}

p{
    color: var(--color-Grayish-Blue);
    font-size: 1.5rem;
}

h1, h2{
    color: var(--color-Very-Dark-Blue);
}

span{
    font-weight: 300;
}

.title{
    width: 100%;
    text-align: center;
    margin: 0% auto;
    margin-top: 5rem;
}

.title h1{
    width: 50rem;
    margin: 0% auto;
    font-size: 4rem;
}

.title p{
    width: 50rem;
    margin: 2rem auto 0%;
}

section{
    border: 1px solid white;
    background-color: white;
    max-width: 30vw;
    height: max-content;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 2px 15px 15px 5px whitesmoke;
}

section img{
    width: 100%;
    max-width: 20%;
    margin-top: 15%;
    margin-left: 80%;
}

#supervisor{
    border-top: 7px solid var(--color-Cyan);
}

#teamBuilder{
    border-top: 7px solid var(--color-red);
    margin-bottom: 2rem;
}

#karma{
    border-top: 7px solid var(--color-Orange);
}

#calculator{
    border-top: 7px solid var(--color-Blue);
}

#allCards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0rem;
}

#allCards h2{
    font-size: 2rem;
}

.teamBuilderAndKarma{
    margin: 2rem 2rem 0rem 2rem;
}

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}