*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    /*===Primary colors===*/
    --color-red: hsl(0, 78%, 62%);
    --color-Cyan: hsl(180, 62%, 55%);
    --color-Orange: hsl(34, 97%, 64%);
    --color-Blue: hsl(212, 86%, 64%);

    /*===Neutral colors===*/
    --color-Very-Dark-Blue: hsl(234, 12%, 34%);
    --color-Grayish-Blue: hsl(229, 6%, 66%);
    --color-Very-Light-Gray: hsl(0, 0%, 98%);
}

body{
    background-color: var(--color-Very-Light-Gray);
}

.title{
    width: 100%;
    max-width: 50vw;
    text-align: center;
    margin: 0% auto;
    margin-top: 5rem;
}

.title h1{
    width: 45vw;
    margin: 0% auto;
}

section{
    border: 1px solid black;
    max-width: 22rem;
    height: max-content;
    padding: 2rem;
    border-radius: .5rem;
}

section img{
    width: 100%;
    max-width: 15%;
    margin-top: 15%;
}

#supervisor{
    border-top: 7px solid var(--color-Cyan);
}

#teamBuilder{
    border-top: 7px solid var(--color-red);
    margin-bottom: 2rem;
}

#karma{
    border-top: 7px solid var(--color-Orange);
}

#calculator{
    border-top: 7px solid var(--color-Blue);
}

#allCards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0rem;
}

.teamBuilderAndKarma{
    margin: 2rem 2rem 0rem 2rem;
}